/.idea/
/llminthehouse-frontend/.angular/
/llminthehouse-frontend/node_modules/
/inthehouse/.vscode/
/inthehouse/.github/
/llminthehouse-*/target/
/llminthehouse-frontend/node/
/llminthehouse-frontend/src/app/api/
