/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

llminthehouse-navbar {
  z-index: 100;
  position: sticky;
  top: 0;
  .mat-toolbar {
    background: #333333;
    color: #FFF;
  }
  img {
    height: inherit;
  }
  a {
    color: #FFF;
    text-decoration: none;
  }
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.headButton {
  margin: 1vh 1vw;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 300px;
  margin: 2em auto;
}
.error {
  color: red;
}

.chat {
  width: 80vw;
  margin: 3vh auto;
  height: 85vh;
}

.spinner {
  position: absolute !important;
  top: 48vh;
  left: 48vw;
  z-index: 1000;
}

.message-input {
  width: 70%;
}

.card-content {
  max-height: 80%;
  overflow-y: scroll;
}
